<%- include("partials/header.ejs") %>
    <h1>
        <%= key %>
    </h1>
    <div class="container">
        <div class="list">
            <p>Blog posts:</p>
            <ul>
                <% Object.entries(newListItem).forEach(([key, value])=> { %>
                    <li>
                        <a href="/blogpost?key=<%= key %>">
                            <%= key %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <p><strong> Value: </strong>
            <%= value %>
        </p>
    </div>
    <%- include("partials/footer.ejs") %>