<%- include("partials/header.ejs") %>
    <h1>
        <%= key %>
    </h1>
    <div class="container">
        <div class="list">
            <p>Blog posts:</p>
            <ul>
                <% Object.entries(newListItem).forEach(([key, value])=> { %>
                    <li>
                        <a href="/blogpost?key=<%= key %>">
                            <%= key %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div>
            <% Object.entries(value).forEach(([date, content])=> { %>
                <div>
                    <p><strong>Content:</strong>
                        <%= content %>
                    </p>
                    <p><strong>Date:</strong>
                        <%= date %>
                    </p>
                </div>
                <% }); %>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>